.ant {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: auto;

    z-index: 999;
}

h3{
        position: absolute;
    top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
    
width: 100px;
    height: auto;
    
    z-index: 999;
    
}
